<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans 
   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
 
  <bean class="com.spring.ref.B" name="bref">
  <property name="y" value="Phatangare"></property>
  </bean>
  
  <bean class="com.spring.ref.A" name="aref">
  <property name="x" value="Shubham"></property>
  <property name="obj" ref="bref"></property>
  </bean>
   
   </beans> 